<h1>Subtraction</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @fNum %></dd>

  <dt>Second number</dt>
  <dd><%= @sNum %></dd>

  <dt>Result</dt>
  <dd><%= @subt_output %></dd>
</dl>


<a href="/subtract">Do another subtraction</a>
