<h1>Addition</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @fNum %></dd>

  <dt>Second number</dt>
  <dd><%= @sNum %></dd>

  <dt>Result</dt>
  <dd><%= @add_output %></dd>
</dl>


<a href="/add">Do another addition</a>
